@font-face {
  font-family: "Proxima-L";
  src: url("../../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-R";
  src: url("../../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-SB";
  src: url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-B";
  src: url("../../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima-EXB";
  src: url("../../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body:hover::-webkit-scrollbar-thumb {
  background: linear-gradient(341deg, #F75990 15%, #F8E82A 79%);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(341deg, #F75990 15%, #595FF7 79%);
}

body::-webkit-scrollbar {
  width: 13px;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  border-radius: 15px;
  border: solid 3px #282828;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
}

body::-webkit-scrollbar-track {
  background: #282828;
}

#preloader {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #282828;
  color: #F8E82A;
  font-size: 120px;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 100vh;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  -webkit-animation: animation-preloader 1.75s infinite;
          animation: animation-preloader 1.75s infinite;
}

@media only screen and (max-device-width: 761px) {
  #preloader {
    font-size: 60px;
  }
}

@media only screen and (min-device-width: 762px) and (max-device-width: 800px) {
  #preloader {
    font-size: 32px;
  }
}

@-webkit-keyframes animation-preloader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    text-shadow: 0px 2px 0px #F75990, 0px 4px 0px #595FF7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: none;
  }
}

@keyframes animation-preloader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    text-shadow: 0px 2px 0px #F75990, 0px 4px 0px #595FF7;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: none;
  }
}

body {
  background: #fff;
  color: #282828;
  font-family: "Nunito", sans-serif, sans-serif;
}
/*# sourceMappingURL=default-styles.css.map */